SIMPLE DATA CLEANING FOR BEGGINNERS USING PANDAS

HOW TO LOAD THE DATASET

In [2]:
import pandas as pd
df = pd.read_csv('device.csv.csv')

EXPLORATORY DATA ANALYSIS(EDA)

In [3]:
#display the first few rows of the dataset
print(df.head())

                         id                 date     user       pc    activity
0  {J1S3-L9UU75BQ-7790ATPL}  01/02/2010 07:21:06  MOH0273  PC-6699     Connect
1  {N7B5-Y7BB27SI-2946PUJK}  01/02/2010 07:37:41  MOH0273  PC-6699  Disconnect
2  {U1V9-Z7XT67KV-5649MYHI}  01/02/2010 07:59:11  HPH0075  PC-2417     Connect
3  {H0Z7-E6GB57XZ-1603MOXD}  01/02/2010 07:59:49  IIW0249  PC-0843     Connect
4  {L7P2-G4PX02RX-7999GYOY}  01/02/2010 08:04:26  IIW0249  PC-0843  Disconnect

In [4]:
#summary statistics,gives statistical data like mean etc
print(df.describe())

                              id                 date     user       pc  \
count                     405380               405380   405380   405380
unique                    405380               399631      265      971
top     {J1S3-L9UU75BQ-7790ATPL}  10/22/2010 16:45:36  AJF0370  PC-3640
freq                           1                    4     8502     7801

       activity
count    405380
unique        2
top     Connect
freq     203339

In [5]:
#information about the dataset eg no of columns,memory usage etc
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 405380 entries, 0 to 405379
Data columns (total 5 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   id        405380 non-null  object
 1   date      405380 non-null  object
 2   user      405380 non-null  object
 3   pc        405380 non-null  object
 4   activity  405380 non-null  object
dtypes: object(5)
memory usage: 15.5+ MB
None

HOW TO HANDLE MISSING VALUES

In [6]:
#Check for missing values
print(df.isnull().sum())

id          0
date        0
user        0
pc          0
activity    0
dtype: int64

In [7]:
#drop rows with missing values and place it in an new variable
df_cleaned = df.dropna()

In [ ]:
#fill missing values with mean for numerical data and place it in a new valuable called df_filled
#df_filled=df.fillna(df.mean())

But if the number of rows that have missing values is large, then the above method will be inadequate.

In [ ]:
#Replace missing values with the mean of each column
#df.fillna(df.mean(), inplace=True)

In [ ]:
#If you want to replace missing values in a specific column, you can do it this way:
#Replace 'column_name' with the actual column name
#df['column_name'].fillna(df['column_name'].mean(), inplace=True)

REMOVING DUPLICATE RECORDS

In [3]:
#IDENTIFY Duplicates
import pandas as pd
df = pd.read_csv('device.csv.csv')
print(df.duplicated().sum())

0

In [4]:
#Remove duplicates
df_no_duplicates = df.drop_duplicates()

DATA TYPES AND CONVERSION

In [ ]:
#Convert 'Column1' to float
#depends with your datatypes
#df['Column1'] = df['Column1'].astype(float)

In [6]:
#Display updated data types
print(df.dtypes)

id          object
date        object
user        object
pc          object
activity    object
dtype: object


How to Encode Categorical Variables
required mostly for machine learning algorithims
we use the get_dummies function which converts categorical values into numerical format(binary format)

In [8]:
#To convert categorical data from the column "user" to numerical data
df_encode = pd.get_dummies(df, columns=[])

How to Handle Outliers
There are several methods to identify and remove outliers, they are:

Remove NaN values.
Visualize the data before and after removal.
Z-score method (for normally distributed data).
IQR (Interquartile range) method for more robust data.